# SSH Tunnel
SSH_HOST=
SSH_PORT=22
SSH_USER=
SSH_KEY_PATH=~/.ssh/id_ed25519

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=murmur
POSTGRES_USER=
POSTGRES_PASSWORD=

# Snowflake
SNOWFLAKE_ACCOUNT=ZADUWZC-QRC41354
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=MURMUR_ANALYTICS
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_WAREHOUSE=DEV_WH
SNOWFLAKE_ROLE=MURMUR_LOADER

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=