# Postgres source
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=murmur
POSTGRES_USER=
POSTGRES_PASSWORD=

# Snowflake target
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=MURMUR
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=
